/* Any "head" classes are center aligned. */
h1.head {
  text-align: center;
}

div.intro {
  text-align: center;
  margin: 0 auto;
  width: max-content;
  padding-top: 5px;
}

/* Site wide navigation bar. */
ul.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: max-content;
  background-color: #e2e0e0;
  width: 100%; /* fill the page, from left to right*/
  position: sticky; /* stay at the top of the page */
  top: 0;
  overflow: auto;
  /* overflow: hidden; */
}

/* Make the list items look nice in the nav bar */
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the list item color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

li {
  float: left;
  /* font-size: large; */
}

.grid-container {
  display: grid;
  column-gap: 1%;
  align-self: center;
  grid-template-columns: auto auto;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-bottom: 60px;
}
.grid-container > div {
  background-color: rgba(255, 255);
}

.grid-item {
  background-color: rgba(255, 255, 255,0);
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 800px;
}

.grid-media {
  background-color: rgba(255,0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: right; /* keep media attached to left aligned text */
}

.grid-page-title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 55px;
  text-align: center;
}

.grid-title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 55px;
  text-align: center;
}

.grid-description {
  text-align: center;
  font-size: 17px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.break {
  padding-top: 100%;
}


 /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

/*
  Desktop Styles
*/
@media only screen and (min-width: 1500px) {
  img {
    image-orientation: from-image;
  }
}

/*
  Mobile Style
*/
@media only screen and (max-width: 1000px) {
  /* Hide grid media */
  img {
    display: none;
  }
  video {
    display: none;
  }

  /* We want to keep the grid items to keep left aligned text "in the center" */
  /* .grid-media{
    display: none;
  } */

  .hide-with-media {
    display: none;
  }


  .grid-text {
    font-size: 10px;
    text-align: left;
  }
}


/*
  Mobile Style
*/
@media only screen and (max-width: 440px) {
  /* hide list elements > 3rd */
  li:nth-of-type(1n+4) {
    display:none;
  }

  /* Consider changing the nav bar style when all elements no longer fit */
  /* ul.navBar {
  } */

  /* hide page titles */
  /* .grid-page-title {
    display: none;
  } */
}
